html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

input,
textarea {
  font-family: Roboto, sans-serif;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43em;
  min-width: 320px;
  color: #757575;
  background-color: #ffffff;
  overflow: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

a {
  display: inline-block;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: #212121;
}

img {
  display: block;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.header-items {
  display: flex;
  align-items: center;
  margin: 0 -42px;
}

svg {
  display: none;
}

.logo,
.nav,
.head-contacts {
  padding: 0 42px;
}

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.03em;
  color: #2196f3;
  max-width: 237px;
  max-width: 100%;
  text-decoration: none;
}

nav {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #212121;
}

.head-nav {
  display: flex;
  align-items: center;
}

.head-nav__item-link {
  text-decoration: none;
  padding: 32px 25px;
}

/*.head-nav__item-link.is--active:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 4px solid #2196f3;
  border-radius: 2px;
} */

.head-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.head-contacts__info {
  padding-left: 30px;
}

.section-hero {
  background-color: black;
  height: 600px;
}

.hero-items {
  text-align: center;
}

.hero__heading {
  width: 670px;
  height: 240px;
}

.hero__item h1 {
  padding-top: 200px;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-items .btn {
  margin-top: 30px;
}

button {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.container__items {
  display: flex;
  align-items: center;
}

.container__item:last-child {
  margin-right: 0px;
}

.container__heading {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.section__heading + .section__content {
  display: flex;
  align-items: center;
}

.section__heading {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.section-content__heading {
  background-color: black;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.section-cards__items {
  display: flex;
  align-items: center;
}

.section-card__sheading {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.section-partners {
  display: flex;
  align-items: center;
}

.footer {
  background-color: #2f303a;
}

footer .logo {
  padding: 0 0;
}

.footer-content {
  display: flex;
  align-items: center;
}

.address {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address-list__contact {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.social-links {
  display: flex;
  align-items: center;
}

.footer-heading {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.form__field {
  width: 358px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  font: inherit;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 15px 16px;
}
